html, body {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image:  linear-gradient(-45deg, #191970, #ff4e27, #e19f06);
  background-position: 100% 100%;
  background-size: 300% 300%;
  font-family: Cairo, sans-serif;
  text-align: center;
  color: white;
}

.root {
  width: 100vw;
  height: 100vh;
}

.sun {
  position: absolute;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  left: 50px;
  top: 0px;
  border-radius: 50%;
  background-image: radial-gradient(100% 100% at 100% 0, #3a030f 0, gold 100%);
  animation: sunset 45s forwards
}

@keyframes sunset {
  100% {
    transform: translateY(60vh) translateX(-250px);
  }
}

.city {
  margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 60%;
  height: 100%;
	padding-right: 1rem;
  font-size: 1.3vw;
  text-align:start;
}

.building {
	flex: 1;
	display: flex;
	flex-direction: column;
  margin-right: 1.5vw;
	height: 100%;
  width: 100%;
	z-index: 2;
  transition: all 1s;
  border: 5px solid #222222;
}

.scroll-container{
	padding: 1rem;
	background-color: #000000aa;
	border-radius: 0 0 20px 20px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
  flex-flow: row wrap;
  justify-content: center;
	height: 25vh;
}

.scroll-text {
  width: 100%;
}

.slider {
	margin-right: 2rem;
	font-size: 1rem!;
  width: 50%;
}

.submit-button {
  width: 25%;
  height: 25%;
  background-color: #ff4e27;
  border-radius: 25%;
  border-color: #ffd427;
  font-size: 1.5vw;
}

.submit-button:hover{
  background-color: #da2e07;
  box-shadow: #191970;
}

.height-input-div{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  padding: 3px;
  margin-bottom: 15px;
}

.increase-decrease-button {
  width: 40%;
  background-color: #ff4e27;
  border-radius: 6px;
  border-color: #000;
  color: white;
}
.increase-decrease-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.bar-1 {
 width: 3.8vw;
 height: 30px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-2 {
 width: 3.8vw;
 height: 60px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-3 {
 width: 3.8vw;
 height: 90px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-4 {
 width: 3.8vw;
 height: 120px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-5 {
 width: 3.8vw;
 height: 150px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-6 {
 width: 3.8vw;
 height: 180px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-7 {
 width: 3.8vw;
 height: 210px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-8 {
 width: 3.8vw;
 height: 240px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-9 {
 width: 3.8vw;
 height: 270px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.bar-10 {
 width: 3.8vw;
 height: 300px;
 flex-flow: column;
 border-top-right-radius: 10%;
 border-top-left-radius: 10%;
}
.taller {
  background-color: #ffd427;
}
.sunset {
  background-color: #ffd427;
}
.smaller {
  background-color: darkgray;
}